{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div id="gallery" class="container pt-5" id="list-page">
    <h2 class="text-center pb-2">{{.Title}}</h2>
    <h6 class="emoji text-center">{{ .Params.description | emojify }}</h6>
    <div class="row p-4">
        {{ .Content | emojify }}
    </div>
    <div class="card-group p-4">
        <div class="row justify-content-center">
            {{ range .Params.galleryImages }}
            <div class="col-md-6 col-lg-6 col-xl-6 p-0">
                <div class="card p-0 m-2 border-0">
                    <!-- Use a container for the image and caption -->
                    <div class="image-container">
                        <img class="w-100 img-fluid" src="{{ .src }}">
                        <div class="image-caption">{{ .caption }}</div> <!-- Display caption from front matter -->
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
