{{ if .Site.Params.about.enable | default false }}
<section id="about" class="py-0 py-sm-5">
  <div class="bg-transparent">
    <h3 class="text-center bg-transparent">{{ .Site.Params.about.title }}</h3>
    <div class="">
      
      <div class="content">
        <div class="about-section-first"> <!-- Add flex-wrap to ensure wrapping on smaller screens -->
          {{ if .Site.Params.about.image }}
          <div class="mt-4">
            <div class="image d-flex px-5 col-10 mx-auto col-mb-3">
              <img src="{{ .Site.Params.about.image }}" class="img-thumbnail rounded-circle mx-auto" alt="" style="max-width: 100%; height: auto;" /> <!-- Ensure responsiveness -->
            </div>
          </div>
          {{ end }}
          <div class="col-10 col-md-6"> <!-- Adjusted for remaining space -->
            <p class="about-content primary-font">
              {{ .Site.Params.about.content }}
            </p>
          </div>
        </div>        
      </div>
      <div id="skillsAndTools" class="row mt-5 col-10 col-md-11 col-lg-10 mx-auto">
<hr>
        {{ if .Site.Params.about.skills.enable }}
        <div class="col-md-6 mt-4">
          <h4 class="about-section-title">{{ .Site.Params.about.skills.title }}</h4>
          <ul>
            {{ range .Site.Params.about.skills.items }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
        {{ if .Site.Params.toolsTechnologies.enable }}
        <div class="col-md-6 mt-4">
          <h4 class="about-section-title">{{ .Site.Params.toolsTechnologies.title }}</h4>
          <ul>
            {{ range .Site.Params.toolsTechnologies.items }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}