{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
{{ end }}

{{ define "title" }}
{{ .Site.Title }} | {{ .Site.Params.terms.pageNotFound | default "404 page not found" }}
{{ end }}

{{ define "main" }}
<div id="page-not-found" class="container py-5 text-center">
    <a href="{{ "/" | absURL }}">
        <img src="{{ .Site.Params.staticPath }}/404.webp" alt='{{ .Site.Params.terms.pageNotFound | default "404 page not found" }}' class="img-fluid rounded-circle" width="20%">
    </a>
    <h1>{{ .Site.Params.terms.pageNotFound | default "404 page not found" }}</h1>
</div>
{{ end }}