/* Media query for devices up to 992px */
@media (max-width: 992px) {
  /* Navbar adjustments */
  .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* Style adjustments for nav items, excluding the first child */
  .navbar-nav .nav-item:not(:first-child) .nav-link {
    margin: 0px 4px;
    font-size: 0.5em !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    border: 1px solid #ffffff3d !important;
    padding: 0.4em 1em;
    border-radius: 20px;
  }

  /* Position adjustments for the first and last nav items */
  .navbar-nav .nav-item:nth-child(1) {
    position: absolute !important;
    top: 19px;
    left: 190px;
    max-width: 120px !important;
  }

  .navbar-nav .nav-item:last-child {
    position: absolute !important;
    top: 22px;
    right: 60px;
  }

  .navbar-text {
    font-size: 1.3em !important;
  }

  /* Theme toggle button adjustment */
  button#theme-toggle {
    font-size: unset !important;
  }

  /* General typography adjustments in proper order */
  h3,
  h4,
  h5,
  h6,
  p,
  a.btn,
  .page-content p,
  #articleInfo,
  .tags li,
  #projects .card-text,
  .post-footer,
  #experience .badge {
    font-size: 0.85em !important;
  }

  ul li, #single aside.toc .toc-content ul li {
    font-size: 1em !important;
  }

  /* Adjusted font sizes for headings to ensure proper order and hierarchy */
  h3,
  h6 {
    font-size: 1.1rem !important;
  }
  h4 {
    font-size: calc(1rem + 0.3vw) !important;
  }
  h5 {
    font-size: 1.35em !important;
  }

  /* Responsive image margin adjustment */
  #hero .img-thumbnail {
    margin-top: 80px;
    max-width: 180px !important;
  }

  #about .image img {
    max-width: 180px !important;
  }

  #aboutImage2 {
    max-width: 180px !important;
  }

  /* Adjust font size for copyright, ensuring no duplicates */
  #copyright {
    font-size: 0.75em !important;
  }
}

#search-content h5 {
  font-size: 1.1em !important;
}

#search-results div {
  font-size: .9em !important;
}

/* Adjustments for devices up to 480px */
@media (max-width: 480px) {
  .navbar-nav .nav-item:nth-child(1) {
    position: unset !important;
  }
}

@media (max-width: 300px) {
  .navbar-nav .nav-item:last-child{
    position: unset !important;
  }
}
