/* General styles for the #projects section */

#projects h3 {
    color: var(--text-secondary-color) !important;
    text-transform: uppercase;
}

#projects a {
    text-decoration: none;
    color: var(--text-color) !important;
}

#projects .badge {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 1% !important;
    padding: .5rem .6rem !important;
    cursor: pointer;
}

#projects .badge:hover {
    opacity: 0.8;
}

#projects .card {
    background-color: var(--secondary-color) !important;
    border: 2px solid var(--secondary-color) !important;
    box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
    min-height: 400px;
    overflow: hidden;
    border-radius: 1rem;
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow effects */
}

#projects .card-text {
    font-size: .9rem;
    border: 1px solid var(--secondary-color) !important;
    cursor: context-menu;
}

#projects .card .card-head {
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none !important;
}

#projects .card .card-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#projects .card-img-top {
    transition: transform 0.3s;
}

#projects .float-end .btn {
    transition: none;
    border-radius: .5rem !important;
    border-color: 1px solid  var(--faded-aqua-color) !important;
}

#projects .float-end .btn:focus {
    box-shadow: none !important;
}

#projects .float-end .btn:disabled {
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
    opacity: 0.35 !important;
}

/* Adjusted hover underline animation for .card-title text without span */

#projects .card .card-title {
    position: relative;
    display: inline-block; /* Adjusted to apply directly to .card-title */
    cursor: pointer;
}

#projects .card .card-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px; /* Adjust as needed */
    left: 0;
    background-color: transparent; /* Initially transparent */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out, background-color 0.25s ease-out;
}

#projects .card:hover .card-title::after {
    background-color: #ffffffa3; /* Visible on hover */
    transform: scaleX(1);
    transform-origin: bottom left;
}
